.nav-element {
    font-family: reem kufi fun;
    transition: color 0.3s;
}

@media (max-width: 720px) {
    #nav-elements-cont {
        display: none;
    }
    #nav-button {
        display: flex;
    }
}